# compiled output
/backend/dist
/backend/node_modules
/backend/build
/frontend/node_modules
/frontend/dist

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/backend/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
/backend/.env
/backend/.env.development
/backend/.env.production
/backend/.env.test
/backend/.env.development.local
/backend/.env.production.local
/backend/.env.test.local
/backend/.env.local
/frontend/.env
/frontend/.env.development
/frontend/.env.production
/frontend/.env.test
/frontend/.env.development.local
/frontend/.env.production.local
/frontend/.env.test.local
/frontend/.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

*.pub

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/generated/prisma
node_modules